<template>
  <aside class="task-widget__filter">
      <form action="" class="task-widget__form" method="GET">
          <h2 class="task-widget__form-title">Фильтры</h2>
          <div class="task-widget__form-block">
              <h3 class="task-widget__form-subtitle">ID</h3>
              <input type="text" class="task-widget__form-input" placeholder="Введите значение" maxlength="5" data-create="id" readonly 
                v-model="cardSettings.id"  
              >
          </div>
          <div class="task-widget__form-block">
              <h3 class="task-widget__form-subtitle">Номер накладной</h3>
              <input type="text" class="task-widget__form-input" placeholder="Введите значение" data-create="number" value="12"
                v-model="cardSettings.number"
              >
          </div>
          <div class="task-widget__form-block">
              <h3 class="task-widget__form-subtitle">Время прибытия на выгрузку</h3>
              <div class="task-widget__form-date">
                  <label for="">
                      <span>c</span>
                      <span class="task-widget__date-wrapper">
                          <input type="text" class="task-widget__form-input" data-create="time" maxlength="10"
                            v-model="cardSettings.timeFrom"
                          >
                         <!-- <img src="../../files/icons/calendar.svg" alt="icon-calendar"> -->
                      </span>
                  </label>
                  <label for="">
                      <span>по</span>
                      <span class="task-widget__date-wrapper">
                          <input type="text" class="task-widget__form-input" data-create="timeEnd" maxlength="10"
                            v-model="cardSettings.timeTo"
                          >
                        <!--  <img src="../../files/icons/calendar.svg" alt="icon-calendar"> -->
                      </span>
                  </label>
              </div>
          </div>
          <div class="task-widget__form-block">
              <h3 class="task-widget__form-subtitle">Тип заказа</h3>
              <ul class="task-widget__header-sorting" data-filter="order-type" data-create="type"
                v-bind:class="{active: activeTypeList}"
                v-on:click="toggleTypeList"
              >
                    <cardCreatorType
                        v-for="typeItem in typeList"
                        v-bind:option="typeItem"
                        v-bind:key="typeItem.id"
                        v-on:moveup="moveType(typeItem)"
                     />
                  <span class="arrow-bottom" style="background-image: url('../../files/icons/icon_arrow.svg');"></span>
              </ul>
          </div>
      </form>
  </aside>
</template>

<script> 
import cardCreatorType from "./cardCreatorType.vue";

export default {
    props: ['cardSettings'],
    components: {
        cardCreatorType,
    },
    data () {
        return { 
            activeTypeList: false,
            typeList: [
                {id: 0, type: "RUED"},
                {id: 1, type: "RUEX"},
                {id: 2, type: "RUSG"},
            ]
        }
    }, 
    methods: {
        toggleTypeList: function() {
            this.activeTypeList = !this.activeTypeList;
        },
        moveType: function(typeItem) {
            if (!this.activeTypeList) return
            const type = this.typeList.filter(type => type === typeItem);
            this.typeList = this.typeList.filter(type => type != typeItem)  

            this.typeList.unshift(...type)
        }
    },
    computed: {
        actualType: function(newVal, oldVal) {
            this.cardSettings.type = this.typeList[0];
            console.log("this.cardSettings.type");
            console.log(this.cardSettings.type);
            return this.typeList[0]
        }
    },
    watch: { 
        typeList: function(newVal, oldVal) {
             this.cardSettings.type = newVal[0].type;
        }, 
    }
} 
 
</script>

<style>

</style>