<template>
    <li class="header-sorting__li"
        v-on:click="$emit('moveup')"
    >
        {{option.type}}
    </li>  
</template>
<script> 
export default ({
    props: ["option"] , 
})
</script> 