<template>
    <li class="task-widget__item">
        <div>
            <div class="task-widget__item-head" >
                <h4 class="task-widget__item-title">Накладная №{{item.number}}</h4>

                <div class="task-widget__item-wrapper">
                    <ul class="task-widget__item-move active">
                        <li class="item-static"><img src="files/icons/move.png" alt="icon_static"></li>
                        <li class="item-move"><img src="files/icons/move.png" alt="icon_move"></li>
                    </ul>
                    <ul class="task-widget__item-options">
                        <div class="task-widget__options-icon">
                            <img class="icon-menu" src="files/icons/menu.png" alt="icon-menu">
                        </div>
                        <ul class="task-widget__item-list">
                            <li data-redact="true">
                                <span class="icon"><img src="files/icons/edit.png" alt="icon-edit"></span>
                                <span class="description">Редактировать</span>
                            </li>
                            <li data-delete="true"
                                v-on:click="$emit('remove', item.id)"
                            >
                                <span class="icon"><img src="files/icons/close.png" alt="icon-delete"></span>
                                <span class="description">Удалить</span>
                            </li>
                        </ul>
                    </ul>
                </div>

            </div>

            <ul class="task-widget__item-body">
                <li>{{item.id}}</li>
                <li>{{item.date}}</li>
                <li>{{item.type}}</li>
                <li>{{item.timeFrom}}</li>
                <li>{{item.timeTo}}</li>
            </ul>
        </div>
    </li>
</template>

<script>
export default {
    props: ["item"],

    data () {
        return {
        msg: 'Hello world!'
        }
    }
}
</script>

<style>

</style>