.header {
    padding: 20px 0;

    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    @include backgroundColorMain;
     
    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-title__wrapper {

}

.header-title {
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include lightColor;
}

.header-logo_wrapper {

}

.header-logo {
    display: block;
    max-height: 220px;
    width: 300px;
    max-width: 40vw;
}