<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="обеспечение бизнес процессов, информационное обеспечение бизнес процессов, программное обеспечение бизнес процессов, информационное и программное обеспечение бизнес процессов, бизнес обеспечение, программное обеспечение для бизнеса, кск, по для бизнес процессов, программа для бизнес процессов, бизнес процесс софт, бизнес софт, программы для бизнеса, по для бизнеса, по для обеспечения бизнес процессов, программы для обеспечения бизнеса, программы для обеспечения бизнес процессов, кск бизнес процессы, kck, kck ru, www kck ru, программа кск" />
    <meta name="description" content="Вас интересует информационное и программное обеспечение бизнес-процессов: программы (ПО) от КСК? Компания КСК ТЕХНОЛОГИИ - лидирующая компания в области создания платформ, продуктов и заказных решений на базе открытого ПО. Тел. +7 (495) 280-11-23."
    />
    <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <title>Тестовое задание | КСК Технологии</title> 
</head>
<body class="body">
    <header class="header">
        <div class="container">
            <div class="header-title__wrapper">
                <h1 class="header-title">Тестовое задание</h1>
            </div>
            <div class="header-logo_wrapper">
                <img src="./files/img/_header/_header-logo.svg" alt="header-logo" class="header-logo">
            </div>
        </div>
    </header>
<main class="main">