 <div>
    <li class="task-widget__item" draggable="true">
        <div class="task-widget__item-head">
            <h4 class="task-widget__item-title"><%=title %></h4>

            <div class="task-widget__item-wrapper">
                <ul class="task-widget__item-move active">
                    <li class="item-static"><img src="./files/icons/move.png" alt="icon_static"></li>
                    <li class="item-move"><img src="./files/icons/move.png" alt="icon_move"></li>
                </ul>
                <ul class="task-widget__item-options">
                    <div class="task-widget__options-icon">
                        <img class="icon-menu" src="./files/icons/menu.png" alt="icon-menu">
                    </div>
                    <ul class="task-widget__item-list">
                        <li data-redact="true">
                            <span class="icon"><img src="./files/icons/edit.png" alt="icon-edit"></span>
                            <span class="description">Редактировать</span>
                        </li>
                        <li data-delete="true">
                            <span class="icon"><img src="./files/icons/close.png" alt="icon-delete"></span>
                            <span class="description">Удалить</span>
                        </li>
                    </ul>
                </ul>
            </div>

        </div>

        <ul class="task-widget__item-body">
            <li data-id="<%=id %>"><%=id %></li>
            <li data-date="<%=date %>"><%=date %></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </li>
</div>
<!--  Образец вызова шаблона
    <%= _.template(require('./_task-item.hbs'))({
        title: "Карточка 5",
        id: "E",
        date: "05.02.2021",
    }) %>
-->