 <template>
    <section class="task-widget">
        <div class="container">
            <div class="row">
                <CardSettingsToCreate
                    v-bind:cardSettings="cardOption"
                />
                <div class="task-widget__body">
                    <FilterOptions 
                        v-on:sort="sort"
                        v-on:create="createCard()"
                    />

                    <ul class="task-widget__body-list">
                        <CardItem
                            v-for="(card, index) in cards"
                            v-bind:item="card"
                            v-bind:key="card.id"
                            v-on:remove="cards.splice(index,1)"
                         />
                    </ul>

                </div>
            </div>    
        </div>

        <div class="task-widget__popup task-widget__popup-form">
            <div class="task-widget__popup-message">
                <h4>
                    Заполните все элементы формы
                </h4>
            </div>
        </div>
    </section>
</template>

<script>

import CardSettingsToCreate from "./components/card_creator/cardCreator.vue";
import FilterOptions from "./components/filter-options/filterOptions.vue";
import CardItem from "./components/card-item/cardItem.vue";

export default {
    components: {
        CardSettingsToCreate,
        FilterOptions,
        CardItem,
    },
    data () {
        return {
            cardOption: {
                number: "",
                id: createId(),
                date: "",
                type: "",
            },
            cards: [
                {number: 2000 ,id: 1, date: "20.02.2020", type: "RUED", timeFrom: "222", timeTo: "333"},
                {number: 2001 ,id: 2, date: "20.02.2020", type: "RUEX", timeFrom: "111", timeTo: "113"},
                {number: 2002 ,id: 3, date: "20.02.2020", type: "RUED", timeFrom: "222", timeTo: "333"},
                {number: 2003 ,id: 4, date: "20.02.2020", type: "RUEX", timeFrom: "211", timeTo: "311"},
            ]
        }
    },
    methods: {
        createCard() {
            const newCard = this.cardOption;
            this.cards.push(newCard);
            const time = new Date();
            const timeToComponent = `${time.getDate()}.${time.getMonth()+1}.${time.getFullYear()} ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}`;
            this.cardOption.date = timeToComponent;
            this.cardOption = {};

            this.cardOption.id = createId();
        },
        sort(sortRequest) {
            const sortDirection = sortRequest.direction;
            const findRequest = sortRequest.property; 

            let newCardsList = this.cards;  

            for(let i=0; i < newCardsList.length; i++) { //Сортировки элементов
                
                for(let k = (i+1); k < (newCardsList.length); k++) {
                    
                    let findProperty = newCardsList[i][findRequest];
                    let findPropertyNext = newCardsList[k][findRequest];

                    if ( (findPropertyNext < findProperty) && (sortDirection === "down") ) {
                        [newCardsList[i],newCardsList[k]] =  [newCardsList[k],newCardsList[i]];
                    }
                    if ( (findPropertyNext > findProperty) && (sortDirection === "up") ) {
                        [newCardsList[i],newCardsList[k]] =  [newCardsList[k],newCardsList[i]];
                    }
                } 
            }  
            this.cards = newCardsList;
            this.cards.splice(this.cards.length,1) //splice заставляет Vue обновить компоненты
        }
    }
}


function createId() {
    let id = Date.now();
    id = String(id).match(/.{1,2}/g);
    for(let i=0; i < id.length; i++) {
        if ( (id[i] > 97) && (id[i] < 123) ) id[i] = String.fromCharCode(id[i]);
        if ( (id[i] > 64) && (id[i] < 91) ) id[i] = String.fromCharCode(id[i]);
        if ( (id[i] > 47) && (id[i] < 58) ) id[i] = String.fromCharCode(id[i]);
    }
    id = id.join("");
    return id;
}
</script>

<style> 

</style>