<template>
    <header class="task-widget__body-header">
        <div class="task-widget__header-wrapper">
            <ul class="task-widget__header-sorting" 
                v-bind:class="{active: activeTypeList}"
                v-on:click="toggleTypeList"
            >
                <li class="header-sorting__li">Сортировать</li>
                <li class="header-sorting__li"
                    v-for="filter in filterList"
                    v-bind:key="filter.id"
                    v-on:click="$emit('sort', filter)"
                >
                    Сортировать по {{filter.property}} заказа: по {{filter.textDirection}}
                </li>
                <span class="arrow-bottom" style="background-image: url('../../files/icons/icon_arrow.svg');"></span>
            </ul>
            <label for="drag-drop" class="task-widget__drag-drop" name="drag-drop">
                <input type="checkbox" id="drag-drop">
                <span class="fake-checkbox"><img src="../../files/icons/icon_checkbox.svg" alt="icon_checkbox"></span>
                <span>Включить перетаскивание</span>
            </label>
        </div>
        <button type="button" class="task-widget__header-add"
            v-on:click="$emit('create')"
        >
            Добавить 
        </button>
    </header>
</template>

<script>
const up = "возрастанию";
const down = "убыванию";
 export default { 
    data() {
        return {
            activeTypeList: false,
            filterList: [
                {id: "0", property: "id", direction: "up", textDirection: up},
                {id: "1", property: "id", direction: "down", textDirection: down},
                {id: "2", property: "date", direction: "up", textDirection: up},
                {id: "3", property: "date", direction: "down", textDirection: down},
                {id: "4", property: "type", direction: "up", textDirection: up},
                {id: "5", property: "type", direction: "down", textDirection: down},
            ]
        }
    },
    methods: {
        toggleTypeList: function() {
            this.activeTypeList = !this.activeTypeList;
        },
    }
 }

</script>

<style>

</style>
